<div class="formTable">
  <div class="Flexbox">
    <div class="form">
      <div class="form1">
        <span class="header" style="color: #4169e1">F</span>
        <span class="header" style="color: #b22222">U</span>
        <span class="header" style="color: #ff8c00">N</span>
        <span class="header" style="color: #008000">D</span>
        <span class="header" style="color: #FF0000">O</span>
        <span class="header" style="color: #4169e1">O</span>
      </div>
      <div class="title">Find your Email</div>
      <h3 class="title1">Enter your Recovery Email Id</h3>
      <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <mat-form-field class="form_text" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" formControlName="email" />
            <mat-error>Enter the Email</mat-error>
          </mat-form-field>
        </div>

        <div class="btn">
          <button mat-raised-button>Next</button>
        </div>
      </form>
    </div>
  </div>
</div>