<div class="formTable">
    <div class="Flexbox">
        <div class="form">
            <div class="form1">
                <div>
                    <span class="header" style="color: #4169e1">F</span>
                    <span class="header" style="color: #b22222">U</span>
                    <span class="header" style="color: #ff8c00">N</span>
                    <span class="header" style="color: #008000">D</span>
                    <span class="header" style="color: #FF0000">O</span>
                    <span class="header" style="color: #4169e1">O</span>
                  </div>
            </div>
              <div class="title">Find your Email</div>
              <h3 class="title1">Enter your Recovery Email Id</h3>
              <div class="row">
                <p>
                    <mat-form-field class="form_text" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email">
                      </mat-form-field>  
                </p>
              </div>

              <div class="btn">
                <button mat-raised-button>Next</button>
              </div>
        </div>
    </div>
</div>
