<div class="formTable">
    <div class="Flexbox">
        <div class="form">
            <div class="form1">
                <div>
                    <span class="header" style="color: #4169e1">F</span>
                    <span class="header" style="color: #b22222">U</span>
                    <span class="header" style="color: #ff8c00">N</span>
                    <span class="header" style="color: #008000">D</span>
                    <span class="header" style="color: #FF0000">O</span>
                    <span class="header" style="color: #4169e1">O</span>
                  </div>
            </div>
            <div class="title">Change Password to sign in</div>
            <h3 class="title1">Create a Strong Password</h3>
            <div class="row">
                <p>
                    <mat-form-field class="form_text" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="Password">
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="form_text" appearance="outline">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput placeholder="Confirm Password">
                    </mat-form-field>
                  </p> 
            </div>
            <mat-checkbox class="example-margin"> Show password</mat-checkbox>
            <div class="btn">
                <button mat-raised-button>Save</button>
            </div>
        </div>
    </div>
</div>
