.formTable{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.Flexbox {
    background-color: #ffffff;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #faf7f7;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 35px;
    margin-top: 40px;
    
}

.forms {
    width: 60%;
    height: 500px;
    margin-bottom: 50px;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}

.rows{
    display: flex;
}

.header {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-align: left;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.title {
    font: normal normal normal 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-align: left;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.form_text{
    margin-right: 20px;
    text-align: left;
}

.username{
    display: flex;
    font-size:medium;
}

.form_texts{
    width: 425px;  
    
}

.message{
   
    font-size: 16px;
    color: #1A73E8;
    margin-bottom: 40px;
    margin-top: 20px;
}

::ng-deep
.mat-hint {
    color: rgba(0,0,0,.6);
    font-size: 13px;
}

.checkbox {
    margin: 0 12px;
}

.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-right: 22px;
    a{
        color: #1A73E8;
        font-size: 16px;
    }
    button{
        background-color:#1a73e8;
        font-size: 20px;
        width: 65px;
        height: 30px;
        border-radius: 7px;
        border-color: #1a73e8;
        color: #fff;
    }
}

.image{
    width: 40%;
    padding-left: 5px;
    padding-right: 20px;
}

.txt{
    margin-top: -7%;
}